
*{
    font-size: .5rem;
}

html{
    scroll-behavior: smooth;
}

/* body{
    width: auto;
    height: auto;
    margin: 25px;
} */

.header{
    background-color: rgb(190, 190, 190);
    border-radius: 999px;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto 3rem;
    padding: .5rem .5rem;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 1px;
    z-index: 10;
}

/* .h1{
    background-color: cadetblue;
    color: black;
    padding: 1%;
    margin-top: 0;
    border-radius: 999px;
} */

.nav{
    width: auto;
    max-width: 1450px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ul{
    display: flex;
    gap: 1.5rem;
}

/* #li-logo{
    margin-right: 35%;
    margin-left: 1%;
} */

.li{
    list-style-type: none;
}

.a-logo{
    transition: all ease 0.5s;
}

.img-logo{
    width: 60px;
    height: 60px;
    border-radius: 999px;
    object-fit: cover;
}

.a-nav{
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    display: inline-block;
}

.a-nav::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.7s ease;
}

.a-nav:hover::after{
    width: 100%;
}

/* .a-nav:hover{
    box-shadow: 0px 0px 10px 1px black;
    color: black;
    border-radius: 50px;
    padding: 10% 12%;
    transition: all ease 0.5s;
} */

.section-me{
    color: black;
    width: 90%;
    max-width: 1500px;
    height: auto;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 2.5%;
    border-radius: 20px;
    text-align: center;
    transition: all 0.8s ease-out;
    display: flex;
    flex-direction: column;
    animation: shadowPulse 2s infinite ease-in-out;
}

.p-me{
    font-size: 3rem;
}

.p-section-me{
    font-size: 1.6rem;
    line-height: 3rem;
    transition: all 0.5s ease;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 30px rgb(196, 196, 196);
  }

  50% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.70);
  }

  100% {
    box-shadow: 0 0 30px rgb(196, 196, 196);
  }
}

.section-Food{
    border: 1px solid gray;
    color: white;
    width: 90%;
    max-width: 1500px;
    height: auto;
    padding: 1rem;
    margin: 2.5rem auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    transition: all 1s ease;
    position: relative;
}

.p-Food{
    font-size: 2rem;
    transition: all 0.5s ease;
    color: black;
    padding: 0;
    margin: 0;
}

.div-img-Food{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.img-Food{
    border-radius: 15px;
    height: 25rem;
    width: 35rem;
    transition: all 0.5s ease;
    position: relative;
    object-fit: cover;
}

.img-Food:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 10px 1px black;
}

.p-Sport{
    font-size: 2rem;
    transition: all 0.5s;
    color: black;
    padding: 0;
    margin: 0;
}

.div-img-Sport{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-Football{
    border: 1px solid gray;
    color: white;
    width: 90%;
    max-width: 1500px;
    height: auto;
    padding: 1rem;
    margin: 2.5rem auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    transition: all 1s ease;
    position: relative;
}

.img-Football{
    border-radius: 15px;
    height: 20rem;
    width: 35rem;
    margin: 0 auto;
    transition: all .5s ease;
    object-fit: cover;
}

.img-Football:hover{
    transform: scale(1.06);
    box-shadow: 0 0 15px black;
}

/* .section-Football:has(.img-Football:hover) .p-Sport{
    color: black;
    transform: translateY(-10px);
    font-size: 200%;
} */

.footer-div-mine{
    background-color: darkblue;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: 20rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.div-footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-footer1{
    width: 7rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.div-footer1:hover{
    box-shadow: 0px 0px 10px 6px black;
    transform: scale(1.1);
}

.a-div-footer{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: all 1s ease;
}

.div-footer2{
    width: 7rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.div-footer2:hover{
    box-shadow: 0px 0px 10px 6px black;
    transform: scale(1.1);
}

.div-footer3{
    width: 7rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.div-footer3:hover{
    box-shadow: 0px 0px 10px 6px black;
    transform: scale(1.1);
}

.p-copyright{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
}

.go-top{
    text-decoration: none;
    background: rgb(80, 80, 80);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 1.5rem;
}

.go-top:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px black;
}

@media (max-width: 320px){

    .a-nav{
        font-size: 1.5rem;
    }

    .img-logo{
        width: 50px;
        height: 50px;
    }

    .ul{
        gap: 1rem;
    }

    .p-copyright{
        font-size: 1.18rem;
    }

    .img-Football:hover{
        transform: scale(1.02);
    }

    .img-Food:hover{
        transform: scale(1.02);
    }

}

@media (min-width:650px){

    .a-nav{
        font-size: 2rem;
    }

    .img-logo{
        width: 80px;
        height: 80px;
    }

    .ul{
        gap: 2rem;
    }

    .p-me{
        font-size: 4rem;
    }

    .p-section-me{
        font-size: 2rem;
    }

    .p-Food{
        font-size: 3rem;
    }

    .section-Food{
        width: auto;
        max-width: 1500px;
    }

    .div-img-Food{
        flex-direction: row;
    }

    #img-kabab{
        height: 30rem;
    }
    
    .img-Food{
        width: 31%;
        max-width: 50rem;
        height: auto;
    }

    .p-Sport{
        font-size: 3rem;
    }
    
    .section-Football{
        width: 80vw;
        max-width: 1500px;
    }

    .img-Football{
        width: 60vw;
        height: auto;
    }

    .img-Football:hover{
        transform: scale(1.02);
    }

    .a-div-footer{
        font-size: 2rem;
    }

    .div-footer1, .div-footer2, .div-footer3{
        width: 8rem;
    }

    .p-copyright{
        font-size: 1.8rem;
    }

    .go-top{
        font-size: 1.7rem;
    }

}

@media (min-width:1300px){

    .a-nav{
        font-size: 2.5rem;
    }

    .img-logo{
        width: 100px;
        height: 100px;
    }

    .ul{
        gap: 2.5rem;
    }

    .p-me{
        font-size: 4.5rem;
    }

    .p-section-me{
        font-size: 2.5rem;
    }

    .p-Food{
        font-size: 3.5rem;
    }

    .p-Sport{
        font-size: 3.5rem;
    }

    .a-div-footer{
        font-size: 2.5rem;
    }

    .div-footer1, .div-footer2, .div-footer3{
        width: 10rem;
    }

    .p-copyright{
        font-size: 2rem;
    }

    .go-top{
        font-size: 1.9rem;
    }

}